@import url("css3Techniques.css");

/* Bootstrap part*/
/*@media ( min-width : 768px) {
	.phoneOnly {
		display: none;
	}
}

@media ( max-width : 768px) {
	.otherScreens {
		display: none;
	}
}*/


/* App Style */
.svy-main {
	background-color: #152533;
}

.svy-main-body {
}

.form-base {
	border-top-left-radius: 4px;
}

.navbar {
	border-radius: 0px;
	background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%);
}

.navbar-header .navbar-toggle {
	display:none;
}

.sidebar-nav {
	padding-top: 32px;
}

/* VIEWS */
.form-base-dashboard {
	background-color: #FFFFFF;
}

/* Containers */
.bs-full-height {
	height: 100%;
}

.bs-full-height-min-nav {
	height: 95%;
}

.bs-sidebar-container {
	padding-top: 40px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	overflow: hidden;
}

.bs-listview {
	padding-right: 0px !important;
	height: 100%
}

.bs-nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.bs-detailed-view {
	padding-left: 0px;
}

.bs-col-centered {
	position: relative;
	margin-left: 5%;
	margin-right: 5%;
}

.row {
	position: relative;
}

.bs-col-2x2 {
	height: 50%;
	width: 50%;
}

.svy-layoutcontainer.bs-center-content > * > * {
	margin:auto;
}

.bs-absolute-center {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.bs-absolute-center.is-responsive {
	width: 50%;
	height: 50%;
	min-width: 250px;
	max-width: 465px;
	padding: 40px;
}

.bs-userbar-height {
	height: 58px;
}

.bs-pad-top {
	padding-top: 30px;
}

.bs-col-centered .bs-col-pad > div:first-child {
	padding-right: 2.5%;
}

.bs-col-centered .bs-col-pad > div:last-child {
	padding-left: 2.5%;
}

.bs-col-centered .bs-col-pad > div:not(:last-child):not(:first-child) {
	padding-left: 2.5%;
	padding-right: 2.5%;
}

/* Elements */
.fa-icon-orange {
	color: #EB7932;
}

.faCloseDialog {
	color: #666765;
}

.field-placeholder-left::-webkit-input-placeholder {
	text-align: left;
}

.field-no-border {
	box-shadow: 0px 0px 0px 0px !important;
}


/* Button */
.btn {
	outline:none;
}

.btn-success {
	background-color: #E48445;	
	border: 2px solid #E48445;
}

.btn-success:hover, 
.btn-success.focus, 
.btn-success:active {
	background-color: #CC763D;
	border: 2px solid #CC763D;
}

.btn-tertiary, 
.btn-tertiary:hover, 
.btn-tertiary.focus, 
.btn-tertiary:active   {
	color: #E48445;
	border: 2px solid #E48445;
}


/* INPUT FIELDS STYLING */
.field-placeholder-left{}
.field-placeholder-left::-webkit-input-placeholder {
	text-align: left;
}

.fa-icon-orange {
	color: #E48449;
}

.infotitle {
	font-size: 25px;
	text-align: center;
}

.field-no-border {
	box-shadow: 0px 0px 0px 0px !important;
}

.form-bgColor {
	background-color: #e7e7e7;
}

.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control
	{
	background-color: white;
}

.imgCircleDisplayEditPopup {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	vertical-align: middle;
}

/* Profile popup */
.label-fieldLabel {
	font-size: 11px;
	color: #868684;
}

.field-profile {

}

.imgCircleProfilePopup {
	border-radius: 50%;
	width: 110px;
	height: 110px;
	vertical-align: middle;
}

/* Card View */
.imgCircleDisplayCard {
	border-radius: 50%;
	width: 95px;
	height: 95px;
	vertical-align: middle;
}

.fieldNameDisplayCard {
	border: none;
	font-weight: bold;
	font-size: 16px;
}

.fieldTitleDisplayCard {
	border: none;
}

.fieldPhoneDisplayCard {
	border: none;
	text-indent: 2px;
}

.fieldEmailDisplayCard {
	border: none;
	text-indent: 2px;
}

/* Md Autocomplete  */
md-autocomplete,
md-autocomplete md-autocomplete-wrap {
	height: 28px;
}

md-autocomplete input:not(.md-input) {
	height: 28px;
}

/* Grid & List */
.ui-grid-row-selected div.ui-grid-cell {
    background-color: #E48445 !important;
    color: white;
}