:focus {
	outline:none;
}

.full-height {
	height: 100%;
}

.absolute-center {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.absolute-center.is-responsive {
	width: 50%;
	height: 50%;
	min-width: 250px;
	max-width: 465px;
	padding: 40px;
}

.form-login, .form-progressBar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(ellipse at center, #f7f7f7  0%,#b2b2b2  100%);
}

.form-login .absolute-center.is-responsive {
	height: 360px;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	background: white;
    border-radius: 5px;
}

.form-progressBar .absolute-center.is-responsive {
	height: 300px;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	background: white;
    border-radius: 5px;
}

.img-logo {
	content: url('servoy/logo.png');
	max-width: 100%;
	width: 180px;
	margin: auto;
}

.form-login .img-logo {
	content: url('logo/logo.png');
}

.btn-login {
	width: 100%;
	background-color: #EB7932;
	color: white;
	font-size: 17px;
}

.row-loginTexts {
	margin-top: 15px;
	padding: 0px 20px;
}

.row-loginTexts .bts-label {
	display: block;
	text-align: center;
	margin-bottom: 15px;
}

.label-wrongCredentials {
	color: #ff4929;
	text-align: center;
}

.label-createAccount {
	color: #EB7932;
	cursor: pointer;
}

.col-createAccount {}

.col-forgotPassword {}

.label-forgotPassword {
	color: #EB7932;
	cursor: pointer;
}

.col-alreadyAccount {}

.label-alreadyAccount {
	color: #EB7932;
	text-align: center;
	cursor: pointer;
}

.col-creatingAccount {
	margin-top: 15px;
}

.label-creatingAccount {
	color: #EB7932;
}

.progressbar {
	margin-top: 15px;
	height: 50px;
	position: relative;
}

.progressbar > b {
    font-size: 16px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 20px;
}