.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.flex-item {
  //background: tomato;
  padding: 5px;
  width: 400px;
  height: 190px;
  margin: 10px;
  
}
.sc-card{
	height: 180px;
	width: 375px;
}
.sc-name {
	font-size: 18px;
	font-weight: bold;
}
.sc-jobInfo {
	font-size: 14px;
}

.sc-image-circle {
	width: 100px;
	height: 100px;
	margin-top:15px;
	border-radius: 50%;
}
.sc-phone {
	margin-left: 20px;
	margin-top: -17px;
	font-size: 13px;
	position: absolute;
}

.sc-email {
	margin-left: 20px;
	margin-top: -17px;
	font-size: 13px;
	position: absolute;
}