/* $color-accent: #1B4F8F; */
.menubar {
  background: #013B82;
  color: #fff;
  z-index: 1000;
  font-size: 14px;
  font-family: Tahoma, "Nimbus Sans L", sans-serif;
}

.menubar > nav > ul > li > img {
	margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    position: relative;
    margin-right: 0.5em;
}

.menubar > nav > ul > li ul img {
    position: absolute;
    right: 5px;
    top: 25%;
    height: 50%;
}

.menubar * {
  margin: 0;
  padding: 0;
  z-index: 1000;
}

.menubar > nav > ul ul {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.1s, opacity 0.1s linear;
  /* transition: visibility 0.5s linear 0s; */
}

.menubar > nav > ul > li {
  float: left;
  line-height: 46px;
  border-right-width: thin;
}
.menubar > nav > ul > li > ul li {
  width: 15em;
  border-top-width: thin;
  border-left-width: thin;
  border-right-width: thin;
}
.menubar > nav > ul > li > ul li:last-child {
  width: 15em;
  border-bottom-width: thin;
  border-left-width: thin;
  border-right-width: thin;
}
.menubar > nav > ul > li:first-child {
  /* border-left-width: thin; */
  border-left-width: 0;
}
.menubar .fa-2x {
  padding-right: 0.35em;
  position: relative;
  top: 0.1em;
}

.menubar > nav ul ul {
  position: absolute;
  top: 46px;
  background: #fff;
  left: 0;
}

.menubar > nav ul ul ul {
  position: absolute;
  top: -1px;
  left: calc( 15em - 1px);
}

.menubar i.fa-arrow-right {
  flex-grow: 1;
  align-self: center;
  text-align: right;
}

.menubar li {
  display: flex;
  box-sizing: border-box;
  border: 0;
  border-color: #7F96AE;
  border-style: solid;
  position: relative;
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
  list-style: none;
  line-height: 2.35em;
  background: #013B82;
  color: #fff;
}

.menubar nav:not(.closedmenu) li:hover {
  background: #7F96AE;
}

.menubar nav:not(.closedmenu) ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.1s, opacity 0.1s linear;
  /* transition: visibility 0.5s linear 0s; */
}

#menu-logo {
  position: absolute;
  top: 0px;
  left: 11px;
  height: 46px;
}

#leftmenu {
  float: left;
  display: inline;
}

#rightmenu {
  float: right;
  display: inline;
}

#rightmenu ul ul {
  position: absolute;
  right: 0;
}
